@import "shared.css";

main {
    height: 300px;
}

div.hidden {
    display: none !important;
}

/* Loader */
.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#loader {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes spin {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}

/* error */
.container.error {
    justify-content: space-evenly;
    text-align: center;
}
.error p {
    font-weight: 500;
    font-size: 22px;
    margin: 8px;
}
.error p:first-of-type {
    font-weight: 600;
    font-size: 17px;
    opacity: 0.6;
}
