:root {
    --primary: #2863ff;
    --text: rgb(45, 45, 45);
    --bg: rgb(247, 247, 247);
    --red: #ee8d8d;
    --green: #9aee8d;
}

body {
    width: 450px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text);
    background: var(--bg);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 10px;
}
h1 {
    font-size: 16px;
    font-weight: bold;
}
#logo {
    width: 30px;
    height: 30px;
}
.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.05);
    padding: 5px;
    border-radius: 20px;
}
.icons img {
    width: 25px;
    height: 25px;
}

main {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* components */
button.primary {
    font-size: 16px;
    padding: 4px 10px;
    border: none;
    border-radius: 2px;
    background: var(--primary);
    color: white;
}

a.primary,
a.secondary {
    width: 60%;
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--primary);
    text-decoration: none;
    border: 2px solid var(--primary);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 200ms ease-out;
}
a.primary:hover,
a.secondary:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
a.primary {
    color: white;
    background: var(--primary);
}
a.secondary {
    color: var(--primary);
    background: white;
}
a img {
    width: 25px;
    height: 25px;
}
